.tt-ibeam {
  position: relative;
}
.tt-ibeam:before {
  content: "";
  background: red;
  position: absolute;
  height: 1em;
  width: 2px;
  top: 0;
  left: 0;
}

.tt-input {
  outline: none;
  opacity: 0.2;
  font-family: "Menlo";
}
.tt-input:focus {
  opacity: 1;
}

.tt-blink-none {
  /* border-right-color: red !important; */
  animation: blink-animation 1000ms;
}

.tt-blink {
  /* border-right-color: red !important; */
  animation: blink-animation 500ms infinite;
}

@keyframes blink-animation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
